* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2 {
  color: #8E2DE2;
  font-weight: 500;
  opacity: 0.8;
}

p {
  color: #8E2DE2;
  font-weight: 400;
  opacity: 0.6;
}

h3 {
  color: #4A00E0;
  font-weight: 600;
  opacity: 0.8;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right, #8E2DE2, #4A00E0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: #fff;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
  display: flex;
}

.circle1,
.circle2 {
  background: #fff;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 4%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.user img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

/* DASHBOARD SECTION*/
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  text-align: center;
}

.link {
  display: flex;
  padding: 1rem 3rem;
  align-items: center;
}

.link h2 {
  padding: 0.8rem;
}

.link img{
  width: 30px;
}

.games {
  flex: 2;
}

.pro {
  background: linear-gradient(to right, #8E2DE2, #4A00E0);
  border-radius: 2rem;
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
}

.pro h2 {
  color: #fff;
  font-weight: 600;
  opacity: 1;
}

/*GAMES SECTION*/
.status {
  margin-bottom: 3rem;
  position: relative;
}

.search{
  display: flex;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  width: 70%;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.status input {
  background: transparent;
  border: none;
  width: 98%;
  border-color: transparent;
  border-radius: 1rem;
  
}

.status input:focus {
  box-shadow: 0 0 0 0;
    outline: 0;
}

.status img{
  width: 22px;
}


.games {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 4rem;
}

.card {
  display: flex;
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 1rem;
  box-shadow: 4px 4px 15px rgba(122, 122, 122, 0.2);
  justify-content: space-between;
}

.progress {
  background: linear-gradient(to right top, #8E2DE2, #4A00E0);
  width: 400px;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 60%;
  border-radius: 1rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  font-weight: 600;
  background: linear-gradient(to right, #8E2DE2, #4A00E0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
